#tablebounder{
	height:260px;
	overflow: scroll;
	border:1px solid gray;
	padding:3px;
	border-radius: 3px;
	margin: 5px 0px;
}

.x{
	float:right;
	vertical-align: top;
	text-decoration: underline;
}
